.app {
  .header {
    background-color: #33a8ff;
    padding-top: 64px;
    .header-container {
      background-color: #fff;
    }
    .header-title {
      width: 70%;
      margin: auto;
      font-size: 28px;
      font-weight: 700;
      padding: 1rem 0px;
      cursor: pointer;
    }
    .header-title > h1 {
    margin: 0;
    }
    .header-subtitle {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: rgb(124, 124, 124);
    }
  }
  
  .app-container {
    width: 70%;
    margin: 2rem auto;
  }

  @media only screen and (max-width: 800px) {
    .app-container {
      width: 100%;
      margin: 2rem 0;
    }
  }
}
